<%= render "common/header", page_title: "임시 성분 입력", page_sub_title: "수정 하기", icon: "test-tubes", color: "info" %>
<h1>수정</h1>
<%= render "form", temp_element: @temp_element %>
<%= render "common/footer" %>