<%= render "common/header", page_title: "임시 성분 입력", page_sub_title: "추가 하기", icon: "test-tubes", color: "warning" %>
<h1>추가</h1>
<%= render "form", temp_element: @temp_element %>
<%= render "common/footer" %>