<h1>Editing heat value prediction</h1>

<%= render "form", heat_value_prediction: @heat_value_prediction %>

<br>

<div>
  <%= link_to "Show this heat value prediction", @heat_value_prediction %> |
  <%= link_to "Back to heat value predictions", heat_value_predictions_path %>
</div>
