<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

      <!--begin::Row-->
      <div class="row g-3 gx-xl-3 mb-5 mb-xl-5">
        <!--begin::Overlay-->
        <div class="overlay">
          <!--begin::Image-->
          <iframe src="http://192.168.20.100:6148/" class="w-100 card-rounded"></iframe>
          <!--end::Image-->
        </div>
        <!--end::Overlay-->
      </div>
      <!--end::Row-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->
</div>