<%= render "common/header", page_title: "발열량 계산식", page_sub_title: "수정 하기", icon: "finance-calculator", color: "success" %>
<h1>수정</h1>
<%= render "form", formula: @formula %>
<%= render "common/footer" %>