<%= render "common/header", page_title: "발열량 계산식", page_sub_title: "입력 하기", icon: "finance-calculator", color: "success" %>
<h1>입력</h1>
<%= render "form", formula: @formula %>
<%= render "common/footer" %>